@media all and (max-width: 767px) {
  body {
    background-image: url("imgs/1.png");
    background-repeat: no-repeat;
    background-size: 600%;
    background-position: right top;
  }
}
@media (min-width: 768px) and (max-width: 3840px) {
  body {
    background-image: url("imgs/1.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
@font-face {
  font-family: "JannaLT";
  src: url("fonts/JannaLT-Regular.OTF");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "JannaLT";
}
.navbar-nav {
  padding-right: 2%;
}
.btn1 {
  border: 0.2rem solid #fbd5aa;
  width: 170px;
  height: auto;
  font-size: 17px;
}
.btn2 {
  border: 0.2rem solid #f38c16;
  width: 170px;
  height: auto;
  font-size: 17px;
}
.card {
  border: 0;
  border-radius: 30px;
  border: 0.2rem solid #fbd5aa;
}
.orange {
  color: #f38c16;
}
.bg-orange {
  background-color: #fbd5aa;
}
.bg-orange2 {
  background-color: #f38c16;
}
.rounded1 {
  border-radius: 25px;
}
.images {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #f38c16;
}
.text-shadow {
  color: #f38c16;
  text-shadow: 3px 3px 6px rgb(0 0 0 / 30%);
}
.text-shadow2 {
  color: #000000;
  text-shadow: 3px 3px 6px rgb(0 0 0 / 30%);
}
.line {
  color: black;
  display: inline-block;
  background-image: linear-gradient(#fff 65%, #f38c16 70%);
}
.line2 {
  color: black;
  display: inline-block;
  background-image: linear-gradient(#f38c16 65%, rgb(255, 189, 113) 70%);
}
.hr {
  display: flex;
  align-items: center;
  margin: 8px 0px;
}
.hr::after {
  content: "";
  flex-grow: 1;
  background: #fbd5aa;
  height: 3px;
  margin: 0px 8px;
}
.nav-ani {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.nav-ani * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.nav-ani li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.4em 0.8em;
  padding: 0;
}
.nav-ani a {
  padding: 0 0.7em;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.nav-ani a:before {
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  left: 15%;
  right: 15%;
  top: 0;
  bottom: 0;
  border-left: 3px solid #fbd5aa;
  border-right: 3px solid #fbd5aa;
  border-radius: 5px;
}
.nav-ani a:hover,
.nav-ani .current a {
  color: #ffffff;
}
.nav-ani a:hover:before,
.nav-ani .current a:before {
  opacity: 1;
  left: -11px;
  right: -11px;
}
